In [1]:
import graphlab
import pandas as pd
from sklearn.metrics import mean_squared_error
import numpy as np

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1525031772.log

This non-commercial license of GraphLab Create for academic use is assigned to as5414@columbia.edu and will expire on April 26, 2019.

In [2]:
df = pd.read_csv('../../dataset/train.csv',names=['user_id','business_id','stars','timestamps'])

In [3]:
#df['binary']=(df['stars']>2).astype(int)

In [3]:
df

         user_id  business_id  stars  timestamps
0              1        15733      4      155918
1              1        67856      5      130087
2              1        87093      5      190773
3              1       113461      3        6364
4              1       153617      5      162649
5              1       160310      5      132535
6              2        77849      3      169798
7              3        14970      2      296189
8              4        18440      4      190213
9              4        19036      5      371844
10             4        26905      4      146699
11             5        90099      4      104148
12             6        76317      5      150061
13             6        83769      3      177067
14             6        85961      1       31202
15             6       120825      3      138369
16             8        68020      5      260946
17             9        53317      1       91565
18            10        51397      1       29233
19            11       139891      5      356567
20            12          285      5       88255
21            13        12482      1      196885
22            13       133582      3      169670
23            14       114641      2      101457
24            15          832      5      100989
25            15        37745      1         558
26            15        79444      5       66706
27            15        81160      5      380292
28            16        27893      5      228724
29            16       114884      1      187564
...          ...          ...    ...         ...
4801293  1326089         1376      1      273635
4801294  1326089       137051      1      370670
4801295  1326090       171047      1      222127
4801296  1326091        70928      5      245206
4801297  1326091        96258      5      108033
4801298  1326091       140383      5      294213
4801299  1326091       149054      1       59159
4801300  1326092        59133      4      120514
4801301  1326092        85180      5      267180
4801302  1326092       152208      4      228939
4801303  1326092       164659      5       19448
4801304  1326093        55124      2      229981
4801305  1326094        59389      4      212293
4801306  1326095        10009      5      250416
4801307  1326095        11144      5      214065
4801308  1326095        18580      5      291391
4801309  1326095        53235      2       65447
4801310  1326095        66574      1      246653
4801311  1326095       113450      1      321884
4801312  1326095       152232      5      196940
4801313  1326096       153225      2      182804
4801314  1326097       121883      5      332933
4801315  1326098         2613      5       90439
4801316  1326099       120053      1       73660
4801317  1326100        96376      3       27253
4801318  1326101        21109      4      258061
4801319  1326101        60317      3      396516
4801320  1326101        92235      4      186560
4801321  1326101       116252      2      338403
4801322  1326101       173192      4      118043

[4801323 rows x 4 columns]

In [4]:
# Matrix Factorization recommender using Graphlab
sf = graphlab.SFrame(df[['user_id', 'business_id', 'stars']])

#train, test = graphlab.recommender.util.random_split_by_user(sf,user_id='user_id',item_id='business_id',item_test_proportion=0.1,max_num_users=None)


rec = graphlab.recommender.factorization_recommender.create(
            sf,
            user_id='user_id',
            item_id='business_id',
            target='stars',
            solver='als',
            #sgd_step_size=0.01,
            max_iterations=50,
            #binary_target=True,
            regularization=0.000001,
            num_factors=50,
            side_data_factorization=False)
#eval_rmse = rec.evaluate(test,metric='rmse',target='stars')
predictions = rec.predict(sf)
rmse = np.sqrt(mean_squared_error(sf['stars'], predictions))

print "graphlab's reported rmse:", rec['training_rmse']
print "calculated rmse:", rmse

Recsys training: model = factorization_recommender

Preparing data set.

    Data has 4801323 observations with 1248782 users and 170198 items.

    Data prepared in: 3.96047s

Training factorization_recommender for recommendations.

+------------------------------+--------------------------------------------------+----------+

| Parameter                    | Description                                      | Value    |

+------------------------------+--------------------------------------------------+----------+

| num_factors                  | Factor Dimension                                 | 50       |

| regularization               | L2 Regularization on Factors                     | 1e-06    |

| max_iterations               | Maximum Number of Iterations                     | 50       |

| solver                       | Solver used for training                         | als      |

+------------------------------+--------------------------------------------------+----------+

+---------+--------------+------------------------+

| Iter.   | Elapsed time | RMSE                   |

+---------+--------------+------------------------+

| Initial | 501us        | NA                     |

+---------+--------------+------------------------+

| 0       | 23.73s       | 1.43399                |

| 1       | 44.80s       | 1.40522                |

| 2       | 1m 7s        | 1.12355                |

| 3       | 1m 29s       | 0.759209               |

| 4       | 1m 51s       | 0.653161               |

| 5       | 2m 12s       | 0.627715               |

| 6       | 2m 34s       | 0.618523               |

| 7       | 2m 55s       | 0.613911               |

| 8       | 3m 17s       | 0.611086               |

| 9       | 3m 39s       | 0.609131               |

| 10      | 4m 0s        | 0.60767                |

| 11      | 4m 22s       | 0.606523               |

| 12      | 4m 43s       | 0.605596               |

| 13      | 5m 5s        | 0.604825               |

| 14      | 5m 27s       | 0.604172               |

| 15      | 5m 48s       | 0.603609               |

| 16      | 6m 10s       | 0.60312                |

| 17      | 6m 32s       | 0.602692               |

| 18      | 6m 54s       | 0.602314               |

| 19      | 7m 17s       | 0.601977               |

| 20      | 7m 39s       | 0.601674               |

| 21      | 8m 1s        | 0.601399               |

| 22      | 8m 22s       | 0.601149               |

| 23      | 8m 44s       | 0.600919               |

| 24      | 9m 6s        | 0.600708               |

| 25      | 9m 28s       | 0.600512               |

| 26      | 9m 50s       | 0.600331               |

| 27      | 10m 12s      | 0.600162               |

| 28      | 10m 34s      | 0.600005               |

| 29      | 10m 57s      | 0.599858               |

| 30      | 11m 19s      | 0.599721               |

| 31      | 11m 42s      | 0.599592               |

| 32      | 12m 5s       | 0.599471               |

| 33      | 12m 27s      | 0.599357               |

| 34      | 12m 49s      | 0.599249               |

| 35      | 13m 12s      | 0.599147               |

| 36      | 13m 35s      | 0.599051               |

| 37      | 14m 0s       | 0.598959               |

| 38      | 14m 24s      | 0.598872               |

| 39      | 14m 47s      | 0.598789               |

| 40      | 15m 12s      | 0.59871                |

| 41      | 15m 37s      | 0.598635               |

| 42      | 16m 1s       | 0.598563               |

| 43      | 16m 25s      | 0.598494               |

| 44      | 16m 48s      | 0.598428               |

| 45      | 17m 14s      | 0.598365               |

| 46      | 17m 40s      | 0.598304               |

| 47      | 18m 4s       | 0.598246               |

| 48      | 18m 28s      | 0.598189               |

| 49      | 18m 51s      | 0.598135               |

| FINAL   | 18m 51s      | 0.598135               |

+---------+--------------+------------------------+

Optimization Complete: Iteration limit reached.

graphlab's reported rmse: 0.598135357543
calculated rmse: 0.5981353575431414

In [12]:
predictions

dtype: float
Rows: 4801323
[3.960885850903941, 4.421873701927614, 4.456742836353731, 3.2900847626900203, 4.665315760490847, 4.696186257717562, 3.397292776224566, 2.173987819073153, 3.986887974855853, 4.157048477051211, 3.986588491318179, 3.920488281366778, 4.590969039318514, 3.2070239318584925, 2.967716051456881, 3.3226398063873774, 4.325329793808413, 2.4129422439312465, 1.6113767160152919, 4.293170286533785, 3.9800522459721095, 2.8503270281528956, 3.1796266568874842, 3.432968421099139, 4.962591601726961, 2.7741706503605372, 4.64751262795682, 4.767675472614718, 4.078980578300905, 1.912040902492953, 4.111834241268587, 3.938256574985934, 1.6166109575008876, 4.714427365181399, 2.563126279232455, 2.0307288898205287, 4.91668028962369, 2.629651142475558, 3.1028919352268702, 3.8602066321348674, 2.206939174053622, 4.874176098225069, 2.167286707279635, 1.5056936277126796, 2.190847350475741, 4.865939928410006, 4.592676831600619, 3.247379673836184, 4.123067600843859, 1.2453414930080897, 4.768956018803072, 4.116500718710375, 4.649162842152071, 3.057359529850436, 4.950980259296847, 2.6707690490459925, 4.93157811295743, 2.1790157092785365, 2.8142621649479396, 4.767679525730562, 3.859498156425906, 4.071802003500414, 3.848957387921763, 2.841144276974154, 3.708970399764729, 1.2874910367702967, 3.872261582133723, 4.011015756246996, 4.695013238308382, 4.5601854456638815, 4.969655825016451, 3.8848653269981868, 3.956743790028048, 3.8253151087140567, 3.803381426451159, 3.512134863254977, 4.661485089180422, 4.024471951839876, 3.844272731063319, 3.9083606137012965, 3.8034261373853213, 3.6554332880353457, 2.0096057189678675, 3.802967211422873, 4.535913838264895, 4.585185779449892, 1.555738641140414, 2.590298606274081, 4.106900675413561, 4.568433894035769, 4.390278114197207, 4.304041458485079, 4.333054674980593, 2.6577462686275966, 2.796375585911227, 4.050321264383745, 4.320360614178133, 4.512707842705202, 3.785410175291253, 4.918837024090243, ... ]

In [9]:
prec_rec = rec.evaluate_rmse(sf,target='stars')

In [10]:
prec_rec

{'rmse_by_item': Columns:
 	business_id	int
 	count	int
 	rmse	float

 Rows: 170198

 Data:
 +-------------+-------+----------------+
 | business_id | count |      rmse      |
 +-------------+-------+----------------+
 |    21855    |  130  | 0.332384976968 |
 |    88004    |   15  | 0.876281948869 |
 |    79732    |   3   | 0.970728077213 |
 |    63664    |   6   | 0.644049639399 |
 |    127950   |  151  | 0.348455881719 |
 |     7899    |   3   | 0.995840781512 |
 |    25263    |   33  | 0.659385962989 |
 |    130872   |   3   | 1.01982870708  |
 |    87629    |   3   | 1.18951343747  |
 |    30621    |   43  | 0.672680238364 |
 +-------------+-------+----------------+
 [170198 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_user': Columns:
 	user_id	int
 	count	int
 	rmse	float

 Rows: 1248782

 Data:
 +---------+-------+----------------+
 | user_id | count |      rmse      |
 +---------+-------+----------------+
 |  368497 |   2   | 0.32688190116  |
 | 1261821 |   1   | 0.144268525956 |
 |  846413 |   2   | 0.407561699761 |
 |  251434 |   5   | 0.929088926108 |
 |  504649 |   1   | 0.28893907201  |
 | 1185276 |   1   | 1.61557979715  |
 |  765931 |   1   | 0.895335899475 |
 |  588617 |   9   | 0.458246369389 |
 | 1014787 |   1   | 0.583241297123 |
 | 1075273 |   1   | 0.409717427375 |
 +---------+-------+----------------+
 [1248782 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_overall': 0.5981353575431365}

In [14]:
evla_rmse

{'rmse_by_item': Columns:
 	business_id	str
 	count	int
 	rmse	float

 Rows: 138454

 Data:
 +------------------------+-------+---------------+
 |      business_id       | count |      rmse     |
 +------------------------+-------+---------------+
 | JDm9c_Gkm-N01H9K2PdgMw |   1   | 2.76938159419 |
 | icrwcgr0Pqle5PCL-Ki8Rw |   2   | 1.26835248405 |
 | Ijw0d-2wTcsciDesjCVgsA |   13  | 1.90521454565 |
 | L5CF9zPE5G0lCEExKn_qQg |   9   | 1.64238110263 |
 | o3oC0UK97tiV4cw97rAgfw |   7   |  1.3014528242 |
 | VDGMgPcGFB6acVw1qEoooA |   1   | 2.72806540532 |
 | PkM2kRiW_HJiV0E8p8yJsg |   1   | 1.66773834108 |
 | pUI96wpoJtsQc-aDP9UIqw |   2   | 1.18124971271 |
 | Bl7-eu0cRYJ6BiydS23-jw |   5   | 1.02134734084 |
 | K0QZq5UwpAZCUk9yWeOFcQ |   2   | 0.30406193632 |
 +------------------------+-------+---------------+
 [138454 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_by_user': Columns:
 	user_id	str
 	count	int
 	rmse	float

 Rows: 506003

 Data:
 +------------------------+-------+----------------+
 |        user_id         | count |      rmse      |
 +------------------------+-------+----------------+
 | 0BaJ43WuBnP-G6fmstEmNQ |   23  | 1.97611042903  |
 | 8O6LZqtQgGly4T4--HR-Nw |   1   | 1.44066864653  |
 | k0_OJy1YvtxCOyomdtHW4A |   7   | 0.969943377426 |
 | yXhe0xiTceaXq_PbFVGNkA |   1   | 1.25461381459  |
 | ojyAJnOaHy9OqXT-zmMH-A |   1   | 2.72806540532  |
 | X3LRAbZcdIebdJU1bEqpKQ |   1   | 1.28122824309  |
 | AqO_Ltv5Rr5qYSAx_kSX-g |   1   | 1.70826396002  |
 | s1PwuoKcKJHJ0Sx_3LWHBQ |   1   | 2.72806540532  |
 | iRTWVO4NKIgwBo957h2Zrw |   1   | 2.78660481824  |
 | EcEvSYL9hqa35IDAvJhljw |   1   | 0.182341795133 |
 +------------------------+-------+----------------+
 [506003 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'rmse_overall': 1.5458866492140457}

In [5]:
lat = rec['coefficients']
# U = np.asarray(lat['user_id']['factors'])
# V = np.asarray(lat['business_id']['factors'])

In [6]:
lat

{'business_id': Columns:
 	business_id	int
 	linear_terms	float
 	factors	array

 Rows: 170198

 Data:
 +-------------+--------------+-------------------------------+
 | business_id | linear_terms |            factors            |
 +-------------+--------------+-------------------------------+
 |    15733    |     0.0      | [-2.04808831215, -0.289387... |
 |    67856    |     0.0      | [-0.346569895744, 0.148897... |
 |    87093    |     0.0      | [-0.673363804817, -0.48200... |
 |    113461   |     0.0      | [0.115808263421, -0.009901... |
 |    153617   |     0.0      | [-0.377523034811, -0.34691... |
 |    160310   |     0.0      | [-0.0709279030561, -0.0526... |
 |    77849    |     0.0      | [0.107696078718, 0.1720171... |
 |    14970    |     0.0      | [-0.313647985458, -0.31288... |
 |    18440    |     0.0      | [0.495027035475, -0.192912... |
 |    19036    |     0.0      | [-0.156491905451, -0.18767... |
 +-------------+--------------+-------------------------------+
 [170198 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
 'intercept': 3.7269429696774012,
 'user_id': Columns:
 	user_id	int
 	linear_terms	float
 	factors	array

 Rows: 1248782

 Data:
 +---------+--------------+-------------------------------+
 | user_id | linear_terms |            factors            |
 +---------+--------------+-------------------------------+
 |    1    |     0.0      | [-0.173365488648, -0.06742... |
 |    2    |     0.0      | [-0.00875448808074, -0.013... |
 |    3    |     0.0      | [0.0117542035878, 0.011289... |
 |    4    |     0.0      | [-0.0284087583423, -0.0355... |
 |    5    |     0.0      | [0.00559349125251, -0.0026... |
 |    6    |     0.0      | [0.092446193099, -0.106348... |
 |    8    |     0.0      | [0.067852653563, -0.009672... |
 |    9    |     0.0      | [-0.0619334466755, 0.16157... |
 |    10   |     0.0      | [0.109247557819, 0.0584894... |
 |    11   |     0.0      | [-0.0111249415204, -0.0076... |
 +---------+--------------+-------------------------------+
 [1248782 rows x 3 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}

In [7]:
lat['business_id']

Columns:
	business_id	int
	linear_terms	float
	factors	array

Rows: 170198

Data:
+-------------+--------------+-------------------------------+
| business_id | linear_terms |            factors            |
+-------------+--------------+-------------------------------+
|    15733    |     0.0      | [-2.04808831215, -0.289387... |
|    67856    |     0.0      | [-0.346569895744, 0.148897... |
|    87093    |     0.0      | [-0.673363804817, -0.48200... |
|    113461   |     0.0      | [0.115808263421, -0.009901... |
|    153617   |     0.0      | [-0.377523034811, -0.34691... |
|    160310   |     0.0      | [-0.0709279030561, -0.0526... |
|    77849    |     0.0      | [0.107696078718, 0.1720171... |
|    14970    |     0.0      | [-0.313647985458, -0.31288... |
|    18440    |     0.0      | [0.495027035475, -0.192912... |
|    19036    |     0.0      | [-0.156491905451, -0.18767... |
+-------------+--------------+-------------------------------+
[170198 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [80]:
np.unique(np.asarray(df['user_id'])).shape

(1248782,)

In [81]:
np.unique(np.asarray(lat['user_id']['user_id'])).shape

(1248782,)

In [41]:
import pickle
def save_obj(obj, name ):
    with open('dumps/'+name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

In [43]:
save_obj(lat,'lat_exp')

In [11]:
lat['user_id'].export_csv('dumps/lat_user_2.csv')
lat['business_id'].export_csv('dumps/lat_item_2.csv')